/* GLOBAL  */

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: white;
}

.blue-background {
  background-color: rgb(43, 169, 175);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

.about-me-img {
  width: 37.5rem;
  height: auto;
}

section {
  max-width: 75rem;
  margin: 0 auto;

  padding: 5rem 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HERO SECTION */
.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;
  align-items: end;
}

.hero-name {
  position: absolute;
  bottom: 0;
  left: 8rem;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: white;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  z-index: 2;

  left: clamp(1rem, 10vw, 8rem);
  font-size: clamp(2.5rem, 8vw, 4rem);
}

.about-me-img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
}

.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  background-color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}

.about-me-text {
  line-height: 1.5;
}

.social-links {
  display: flex;
  gap: 1.25rem;

  padding: 0.625rem;
  align-items: center;
  justify-content: end;
}

.icon {
  width: 1.5625rem;
  height: 1.5625rem;
}

/* MY WORK */
.my-work {
  background-color: white;
}
.my-work-heading {
  padding-bottom: 1.25rem;
}
.my-work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

  height: 100%;
  min-height: 25rem;
}

.project-img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(160, 10, 10);
  color: white;

  width: 100%;
  aspect-ratio: 16 / 9;
  min-height: unset;

  font-size: 1.875rem;
  font-family: "Playfair Display", serif;
}

.project-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.625rem;
  padding: 1.25rem;
}

.project-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  color: white;

  max-width: 75rem;
  margin: 0 auto;
  padding: 5rem 1.25rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact-details,
.email-details {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 0.625rem;

  align-items: center;
}

.footer-img {
  max-width: 100%;
  height: auto;
}
